@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Rajdhani, sans-serif;
}

.container {
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.fullWidth {
  width: 100%;
}

a{
  text-decoration: none;
}
